:root {
    --color-reset-button: #f0f8ff;
    --color-active-button: #42b983;
    --color-hashtag: #ffe2dd;
    --color-hashtag-font: #5d1715;
    --color-location: #008ff6;
}
html {
    scroll-behavior: smooth;
}
